.historialInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.selectFecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.textoSelect {
  margin: 0 5px;
}

.card-volver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.volverHistorial {
  text-decoration: none;
  text-align: center;
}
